/*
Calvin Lau
10151228
B01
    styles.css
*/

html, body {
    background-color: #F0F0F0;
    font-family: "Arial";
    margin: 0;
}

p {
    color: #484848;
    font-size: 17px;
}

h4 {
    color: #484848;
}

nav {
    background: white;
    width: 100%;
    min-height: 20px;
    position: fixed;
    top: 0;
}

#nav_list {
    margin: 10px 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;

    list-style-type: none;
}

#nav_list li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

#nav_title {
    padding: 10px 20px 0;
    border-right: 2px solid #1DB954;
    color: #1DB954;
    font-size: 30px;
    font-weight: bold;
}

#nav_title img {
    height: 30px;
}
#nav_list li .nav_item {
    color: #484848;
    font-size: 20px;
    padding: 20px 20px 0;
}

#nav_title:hover {
    color: #484848;
    text-decoration: underline;
    text-decoration-color: #1DB954;
}

#nav_list li .nav_item:hover {
    color: #1DB954;
}

.nav_dropdown {
    overflow: hidden;
    float: left;
}

.nav_dropdown, .nav_drop_btn {
    padding: 0;
    outline: none;
    border: none;
    font-size: 20px;
    color: #484848;
    background-color: inherit;
}

.nav_dropdown:hover .nav_drop_btn {
    cursor: pointer;
    color: #1DB954;
}

.nav_drop_items {
    position: absolute;
    display: none;
    min-width: 160px;
    z-index: 1;
    background-color: #E5E5E5;
    box-shadow: 3px 3px 10px #484848;
}

.nav_drop_items a {
    display: block;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    color: #484848;
}

.nav_drop_items a:hover {
    background: #1DB954;
    color: white;
}

.nav_dropdown:hover .nav_drop_items {
    display: block;
}

#container {
    margin-top: 45px;
    padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, article {
    width: 100%;
    margin: 0;
    padding: 0;
}

.top_header {
    height: 400px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome_header {
    background-image: url("../img/welcome.jpg");
    background-position: center center;
}

#header_title {
    margin: 100px
}

.top_header h1,
.top_header span {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 10px #484848;
}

.top_header h1 {
    font-size: 50px;
}

.top_header span {
    font-size: 20px;
}

#bottom_article {
    background: white;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

#bottom_article a {
    text-decoration: none;
    color: #484848;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1DB954;
    color: white;
}

.footer_icon {
    height: 30px;
}

footer span {
    padding-top: 8px;
    font-size: 15px;
    font-weight: bold;
}

.news_item {
    padding: 0;
    margin: 10px;
    flex: 0;
}

.news_item img {
    width: 399px;
    height: 223px;
}

.news_title {
    min-height: 40px;
}

.news_description {
    text-align: start;
}

.news_description h3 {
    padding-bottom: 5px;
    margin: 0;
    font-size: 15px;
}

.news_description h3:hover {
    color: #1DB954;
    text-decoration: underline;
}

.news_description p {
    border-left: 4px solid #1DB954;
    padding-left: 10px;
    font-style: italic;
}

.leaderboard_header {
    background-image: url("../img/players.jpg");
    background-position: top;
}

#leaderboard {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard tr:nth-child(odd) {
    background-color: #AAE6B3;
}

#leaderboard th {
    text-align: center;
    padding: 15px;
    background-color: #1DB954;
    color: white;
    text-decoration: underline;
}

#leaderboard td {
    text-align: center;
    padding: 8px;
}

#leaderboard .player {
    text-align: left;
    padding-left: 30px;
}

#bottom_article .article_container {
    padding: 30px 25px 100px;
    line-height: 30px;
    text-align: justify;
}

#bottom_article .article_container .article_photo_sm {
    height: 150px;
    float: left;
    padding-right: 15px;
}

#bottom_article .article_container .article_photo_lg {
    height: 300px;
    float: right;
    padding-left: 15px;
}

#bottom_article .article_container .iframe_style {
    display: flex;
    justify-content: center;
}

#bottom_article .article_container iframe {
    width: 80%;
    height: 500px;
}

#bottom_article .article_container .bold_text {
    font-weight: bolder;
}

#bottom_article .article_container .italic_text {
    font-style: italic;
}

#bottom_article .article_container .article_link:hover {
    color: #1DB954;
    text-decoration: underline;
}

.justin_header {
    height: 550px;
    background-image: url("../img/justinrose2.jpg");
    background-position: top;
}

.justin_header #header_title {
    margin-left: 500px;
}

@media only screen and (min-width: 1200px) {
    #bottom_article {
        width: 75%;
    }
}

@media only screan and (max-width: 1200px) {
    #bottom_article {
        width: 100%;
    }
}
